.twoLine {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.25;
}

.footer {
  position: relative;
  width: 56%;
  max-width: 1073px;
  margin: 0 auto;
}

.footer__logo {
  opacity: 0.25;
  position: absolute;
  right: calc(100% + 60px);
  top: 0;
}

.footer__logo-img {
  position: relative;
  width: 70px;
  padding-top: 120px;
}

.footer__logo-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.footer__content {
  color: #828282;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__links li {
  list-style-type: none;
}

.footer__links a {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.5;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.footer__links a:hover {
  opacity: 1;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer__dev {
  margin-top: 10px;
  opacity: 0.5;
  display: flex;
}

.footer__dev span {
  font-weight: normal;
  font-size: 10px;
  line-height: 22px;
  opacity: 0.5;
  margin-right: 10px;
}

.footer__dev a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 9px;
}

.footer__icons a img {
  height: calc(32px - 12 * ((100vw - 320px) / (1920 - 320)));
}

.footer__icons a {
  opacity: 0.4;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
  margin-left: 20px;
}

.footer__icons a:hover {
  opacity: 1;
}

@media (max-device-width: 1700px) {
  .footer {
    width: 70%;
  }
}

@media (max-device-width: 1366px) {
  .footer {
    width: 85%;
  }
  .footer__logo {
    display: none;
  }
}

@media (max-device-width: 1100px) {
  .footer {
    width: 90%;
  }
}

@media (max-device-width: 768px) {
  .footer {
    margin-left: 65px;
    max-width: 500px;
  }
  .footer__links {
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__links a {
    padding: 6px 0;
  }
  .footer__links li {
    margin-bottom: 15px;
  }
}

@media (max-device-width: 575px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
  .footer__icons a {
    margin-left: 0;
    margin-right: 30px;
  }
}
