.unionMain {
  position: absolute;
  left: 0;
  top: 800px;
  opacity: .04;
  width: 106vw;
}

.oneBlock {
  position: relative;
}

.oneBlock__textBg {
  display: block;
  position: absolute;
  top: 85px;
  font-weight: 800;
  font-size: 240px;
  line-height: 210px;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  opacity: .7;
  background-image: -o-linear-gradient(190.82deg, #000000 24.56%, rgba(51, 54, 61, 0.5) 35.66%, #000000 57.17%);
  background-image: linear-gradient(259.18deg, #000000 24.56%, rgba(51, 54, 61, 0.5) 35.66%, #000000 57.17%);
}

.oneBlock__dasha {
  position: absolute;
  right: 0;
  top: -45px;
  width: calc(386px + 284 * ((100vw - 375px) / (1920 - 375)));
  max-width: 670px;
}

.oneBlock__top {
  position: relative;
  z-index: 2;
  cursor: default;
}

.oneBlock__top.active {
  z-index: 6;
}

.oneBlock__title {
  max-width: 339px;
  text-transform: uppercase;
  padding: 35px 0;
}

.oneBlock__text {
  max-width: 247px;
  margin-top: -10px;
  margin-bottom: 32px;
}

.oneBlock__text p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.oneBlock__botContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 62px;
}

.oneBlock__botContent span {
  font-weight: 800;
  font-size: calc(81px + 40 * ((100vw - 375px) / (1920 - 375)));
  line-height: 114px;
  text-transform: uppercase;
}

.oneBlock__video {
  cursor: pointer;
  position: relative;
  width: calc(345px + 73 * ((100vw - 375px) / (1920 - 375)));
  height: calc(164px + 36 * ((100vw - 375px) / (1920 - 375)));
  max-width: 418px;
  max-height: 200px;
}

.oneBlock__video img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  opacity: 0;
  z-index: -1;
}

.oneBlock__video img:hover {
  opacity: 1;
  z-index: 2;
}

.oneBlock__video video {
  width: 100%;
  height: 100%;
}

.oneBlock__video video:hover ~ .oneBlock__sound {
  opacity: 1;
  z-index: 2;
}

.oneBlock__video video:hover ~ picture img {
  opacity: 1;
  z-index: 2;
}

.oneBlock__video video:hover ~ .oneBlock__closer {
  opacity: 1;
  z-index: 2;
}

.oneBlock__sound {
  width: fit-content;
  height: fit-content;
  /*padding: 10px;*/
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity .2s ease;
  z-index: -1;
}

.oneBlock__sound:hover {
  opacity: 1;
  z-index: 2;
}

.oneBlock__sound i, .oneBlock__closer i {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.oneBlock__closer {
  right: 15px;
  top: 10px;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease;
}

.oneBlock__closer:hover {
  z-index: 2;
  opacity: 1;
}


.H3_twoBlock {
  top: 0;
  right: calc(100% + 15px);
}

.twoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 56%;
  margin: 0 auto;
  padding-left: 55px;
  max-width: 1073px;
}

.twoBlock {
  position: relative;
}

.twoBlock__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 165px;
}

.twoBlock__mask {
  position: relative;
}

.twoBlock__mask-logo {
  mix-blend-mode: overlay;
  width: calc(375px + 228 * ((100vw - 375px) / (1920 - 375)));
  max-width: 603px;
}

.twoBlock__mask-dasha {
  position: absolute;
  z-index: 2;
  left: 16%;
  bottom: -16%;
  width: 95%;
}

.twoBlock__varTrain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 46px;
  height: calc(240px + 190 * ((100vw - 375px) / (1920 - 375)));
  max-height: 430px;
  position: relative;
  z-index: 5;
}

.twoBlock__varTrain a {
  font-weight: 800;
  font-size: calc(20px + 22 * ((100vw - 375px) / (1920 - 375)));
  line-height: calc(25px + 20 * ((100vw - 375px) / (1920 - 375)));
  text-transform: uppercase;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: .1s linear;
  -o-transition: .1s linear;
  transition: .1s linear;
}

.twoBlock__varTrain a:hover {
  font-size: calc(35px + 17 * ((100vw - 375px) / (1920 - 375)));
  line-height: 45px;
  color: #FE182A;
}

.twoBlock__bot {
  cursor: default;
  position: relative;
  padding-top: 125px;
}

.twoBlock__bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.twoBlock__bonus span {
  position: absolute;
  z-index: 1;
  top: 15px;
  width: 100;
  font-weight: 800;
  font-size: calc(33px + 110 * ((100vw - 375px) / (1920 - 375)));
  line-height: 127px;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -o-linear-gradient(190.82deg, #000000 24.56%, rgba(51, 54, 61, 0.87) 35.66%, #000000 57.17%);
  background-image: linear-gradient(259.18deg, #000000 24.56%, rgba(51, 54, 61, 0.87) 35.66%, #000000 57.17%);
  mix-blend-mode: overlay;
  opacity: .5;
}

.twoBlock__bonus p {
  width: 20%;
  padding: 0 24px;
}

.threeBlock {
  position: relative;
  width: 100%;
}

.threeBlock__video {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding-top: 41.8%;
  max-width: 1018px;
  z-index: 3;
  border-radius: 2px;
}

.threeBlock__video img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 2px;
}

.fourBlock {
  padding-top: 80px;
  width: 100%;
}

.fourBlock__title {
  position: relative;
}

@media (min-device-width: 1921px) {
  .oneBlock__botContent span {
    font-size: 121px;
  }
  .twoBlock__varTrain a {
    font-size: 42px;
    line-height: 45px;
  }
  .twoBlock__varTrain a:hover {
    font-size: 52px;
  }
  .twoBlock__bonus span {
    font-size: 143px;
  }
}

@media (max-device-width: 1700px) {
  .twoContainer {
    width: 70%;
  }
}

@media (max-device-width: 1366px) {
  .twoContainer {
    width: 80%;
  }
}

@media (max-device-width: 1100px) {
  .oneBlock__textBg {
    display: none;
  }
  .twoContainer {
    width: 90%;
  }
}

@media (max-device-width: 991px) {
  .unionMain {
    display: none;
  }
  .twoBlock__bonus,
  .ellipse_two {
    display: none;
  }
  .oneBlock__botContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .oneBlock__botContent span {
    line-height: 76px;
  }
  .oneBlock__dasha {
    top: -10px;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
  .twoBlock__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .twoBlock__varTrain {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media (max-device-width: 500px) {
  .twoContainer {
    padding-left: 0;
    width: 100%;
  }
  .H3_twoBlock {
    top: 0;
    right: 100%;
    -webkit-transform: translateX(45px) scale3d(-1, -1, 1);
            transform: translateX(45px) scale3d(-1, -1, 1);
  }
  .twoBlock__mask-logo {
    width: 100%;
  }
  .twoBlock__mask-dasha {
    left: 8%;
  }
  .twoBlock__varTrain {
    padding-left: 55px;
  }
  .twoBlock h1 {
    padding-left: 55px;
  }
}

@media (max-device-width: 374px) {
  .oneBlock__video {
    width: 100%;
  }
  .oneBlock__botContent span {
    font-size: 70px;
  }
}
