.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bot {
  position: relative;
  margin-top: 90px;
  width: 100%;
}

@media (max-width: 768px) {
  .bot {
    margin-top: 25px;
  }
}

.bot_not-first {
  margin-top: 0;
}

.bot__mobile {
  display: none;
}

.bot__dots {
  display: none;
}

.bot__dot {
  min-width: 10px;
  min-height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

@media (max-device-width: 768px) {
  .bot__desktop {
    display: none;
  }
  .bot__mobile {
    display: block;
  }
  .bot__track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    /*display: block;*/
  }
}

@media (max-device-width: 575px) {
  .card-mini__slider {
    margin-bottom: 45px;
  }
  .bot__mobile {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .bot__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bot__track {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
  }
}
