.bgTravel {
  margin: 0 auto;
  max-width: 1920px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.topTravel {
  position: relative;
}

.topTravel__content {
  cursor: default;
  position: relative;
  z-index: 3;
}

.topTravel__date, .topTravel__dateTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topTravel img {
  position: absolute;
  right: -11%;
  top: -10%;
  width: calc(267px + 279 * ((100vw - 375px) / (1920 - 375)));
  max-width: 546px;
}

.topTravel h1 {
  width: calc(200px + 550 * ((100vw - 375px) / (1920 - 375)));
  max-width: 750px;
  margin-bottom: 25px;
}

.topTravel h5 {
  width: calc(260px + 220 * ((100vw - 375px) / (1920 - 375)));
  max-width: 480px;
  margin: 30px 0;
}

.topTravel p {
  width: 50%;
  max-width: 330px;
}

.topTravel__titleBot {
  margin-top: 100px;
}

.scheduleTravel {
  cursor: default;
  position: relative;
  margin-top: 30px;
}

.scheduleTravel__bot {
  margin-top: 100px;
}

.scheduleTravel__timeLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scheduleTravel__timePoint {
  max-width: 215px;
}

.scheduleTravel__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.scheduleTravel__time span {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  margin-left: 5px;
  white-space: nowrap;
}

.scheduleTravel__ps {
  margin-top: 60px;
}

.lcturesTravel,
.communityTravel {
  position: relative;
  margin-top: 100px;
}

.travelTextImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  cursor: default;
}

.travelTextImg > p {
  margin-left: 5%;
}

.travelTextImg > p a:hover {
  color: #FE182A;
}

.travelTextImg__h4 h4 {
  margin-top: 50px;
}

.travelTextImg__img {
  position: relative;
}

.travelTextImg__img_land {
  width: calc(309px + 263 * ((100vw - 375px) / (1920 - 375)));
  height: calc(213px + 178 * ((100vw - 375px) / (1920 - 375)));
  max-height: 391px;
  max-width: 572px;
}

.travelTextImg__img_cube {
  width: calc(309px + 136 * ((100vw - 375px) / (1920 - 375)));
  height: calc(322px + 128 * ((100vw - 375px) / (1920 - 375)));
  max-height: 450px;
  max-width: 445px;
}

.travelTextImg__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.travelTextImg p {
  max-width: 330px;
}

.homeTravel {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.homeTravel h1 {
  font-weight: 700;
  margin-bottom: 80px;
}

.priceTravel {
  position: relative;
  cursor: default;
}

.priceTravel__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.priceTravel__var {
  max-width: 350px;
}

.priceTravel__var p {
  margin: 10px 0;
}

.priceTravel h1 {
  font-weight: 700;
}

.requestTravel {
  position: relative;
  margin-top: 100px;
}

.requestTravel h1 {
  font-weight: 700;
}

.requestTravel h5 {
  margin-top: 20px;
}

.requestTravel form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 380px;
  margin-top: 50px;
}

.requestTravel form input {
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  padding: 13px 32px;
}

.requestTravel form input:nth-child(1) {
  margin-bottom: 30px;
}

.requestTravel form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.requestTravel form input:focus::-moz-placeholder {
  color: transparent;
}

.requestTravel form input:focus:-ms-input-placeholder {
  color: transparent;
}

.requestTravel form input:focus::-ms-input-placeholder {
  color: transparent;
}

.requestTravel form input:focus::placeholder {
  color: transparent;
}

.requestTravel form input:invalid:not(:focus):not(:-moz-placeholder-shown) {
  box-shadow: inset 0 -10px 7px #FE182A;
}

.requestTravel form input:invalid:not(:focus):not(:-ms-input-placeholder) {
  box-shadow: inset 0 -10px 7px #FE182A;
}

.requestTravel form input:invalid:not(:focus):not(:placeholder-shown) {
  -webkit-box-shadow: inset 0 -10px 7px #FE182A;
          box-shadow: inset 0 -10px 7px #FE182A;
}

.requestTravel form input:valid:not(:focus):not(:-moz-placeholder-shown), .requestTravel form input:valid:focus:not(:-moz-placeholder-shown) {
  box-shadow: inset 0 -10px 7px #2EFA00;
}

.requestTravel form input:valid:not(:focus):not(:-ms-input-placeholder), .requestTravel form input:valid:focus:not(:-ms-input-placeholder) {
  box-shadow: inset 0 -10px 7px #2EFA00;
}

.requestTravel form input:valid:not(:focus):not(:placeholder-shown), .requestTravel form input:valid:focus:not(:placeholder-shown) {
  -webkit-box-shadow: inset 0 -10px 7px #2EFA00;
          box-shadow: inset 0 -10px 7px #2EFA00;
}

.requestTravel form button {
  outline: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  color: #F5F5F5;
  max-width: 150px;
  margin-top: 50px;
}

.contactsTravel {
  position: relative;
  margin-top: 100px;
}

.contactsTravel h1 {
  font-weight: 700;
}

.contactsTravel h5 {
  cursor: default;
  margin-top: 35px;
  margin-bottom: 50px;
}

.contactsTravel__iconsLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 770px;
}

.contactsTravel__iconsLine a img {
  background: #FFF;
  -webkit-box-shadow: 0 0 14px #FFF;
          box-shadow: 0 0 14px #FFF;
}

.contactsTravel__iconsLine a:hover img {
  -webkit-animation: iconsTravel .1s linear forwards;
          animation: iconsTravel .1s linear forwards;
}

@-webkit-keyframes iconsTravel {
  0% {
    background: #FFF;
  }
  100% {
    background: linear-gradient(123.07deg, #FF0000 30.28%, #150002 109.15%);
    -webkit-box-shadow: 0 0 14px rgba(250, 0, 0, 0.7);
            box-shadow: 0 0 14px rgba(250, 0, 0, 0.7);
  }
}

@keyframes iconsTravel {
  0% {
    background: #FFF;
  }
  100% {
    background: -o-linear-gradient(326.93deg, #FF0000 30.28%, #150002 109.15%);
    background: linear-gradient(123.07deg, #FF0000 30.28%, #150002 109.15%);
    -webkit-box-shadow: 0 0 14px rgba(250, 0, 0, 0.7);
            box-shadow: 0 0 14px rgba(250, 0, 0, 0.7);
  }
}

@media (max-device-width: 768px) {
  .travelTextImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .travelTextImg__order {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .travelTextImg > p {
    margin-top: 30px;
    margin-left: 0;
  }
  .topTravel__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topTravel img {
    opacity: .85;
  }
  .scheduleTravel__timeLine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scheduleTravel__timePoint {
    margin-top: 40px;
  }
  .scheduleTravel__ps {
    display: none;
  }
  .priceTravel__var {
    margin-bottom: 40px;
  }
  .priceTravel__line {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-device-width: 575px) {
  .topTravel img {
    right: -32%;
    top: -10%;
  }
  .contactsTravel h5 {
    display: none;
  }
  .contactsTravel__iconsLine {
    max-width: 400px;
  }
  .contactsTravel__iconsLine a img {
    margin-right: 40px;
    margin-top: 60px;
  }
}

@media (max-device-width: 360px) {
  .contactsTravel h5 {
    display: none;
  }
  .contactsTravel__iconsLine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
